/* SortOptions.css */
.sort-options-container {
    margin-bottom: 20px;
}

.sort-options-container label {
    margin-right: 10px;
    font-size: 1em;
}

.sort-options-container select {
    padding: 5px;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;
}